<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-0">
  <div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <app-tabs>
        <app-tab tabTitle="New Tab"></app-tab>
      </app-tabs>
      <button type="button" class="btn btn-default bg-light btn-sm ml-1" aria-label="New button" (click)="onSearchMedia()">
        <span class="fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</nav>

<ng-template let-media="media" #mediaList>
  <!-- IMAGE AND VIDEO LIST -->
  <app-media-list></app-media-list>
</ng-template>