<ul class="nav nav-tabs" role="tablist" >
  <li class="nav-item" *ngFor="let tab of tabs">
    <a class="nav-link" href="#" role="tab" data-toggle="tab" [class.active]="tab.active">{{ tab.tabTitle }}</a>
  </li>

  <li class="nat-item" *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.active">
    <a class="nav-link" href="#" role="tab" data-toggle="tab">{{tab.tabTitle}} <span class="tab-close" *ngIf="tab.isCloseable">x</span></a>
  </li>
</ul>
<ng-content></ng-content>
<ng-template appTabs #tabContainer></ng-template>