<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <form [formGroup]="searchForm">
      <div class="card-body row no-gutters align-items-center">
        <div class="col">
          <div class="form-group media-search">
            <span class="fa fa-search"></span>
            <input formControlName="search" class="form-control shadow-sm bg-light rounded pl-3" placeholder="Search for images or videos">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>