<div class="container-fluid">
  <!-- SEARCH FIELD -->
  <app-media-search (search)="onSearch($event)"></app-media-search>
  <!-- SUBTABS -->
  <app-tabs [isStatic]="true" 
    *ngIf="!noItems && (subTabsData[tabTypes.IMAGES] && subTabsData[tabTypes.IMAGES].data.length > 0) 
      && (subTabsData[tabTypes.VIDEOS] && subTabsData[tabTypes.VIDEOS].data.length)"
  >
    <app-tab *ngFor="let tab of subTabsData" 
      [tabTitle]="tab.title" 
      [template]="mediaList" 
      [data]="tab.data" 
      [active]="tab.active"
    ></app-tab>
  </app-tabs>

    <!-- NO ORDERS ALERT BOX -->
  <div *ngIf="noItems" class="alert">
      <app-empty-list [title]="searchTerm" ></app-empty-list>
  </div>
</div>

<ng-template let-media="media" #mediaList>
  <!-- IMAGE AND VIDEO LIST -->
  <app-media-list [mediaList]="media" (getMoreItems)="getMoreItems($event)"></app-media-list>
</ng-template>