<div class="container-fluid">
  <!-- SEARCH FIELD -->
  <app-media-search (searchImages)="onSearchImages($event)" (searchVideos)="onSearchVideos($event)"></app-media-search>
  <!-- SUBTABS -->
  <app-tabs [isStatic]="true" *ngIf="imagesResult && videosResult.length > 0">
    <app-tab *ngIf="imagesResult && imagesResult.length > 0" tabTitle="Images" [template]="mediaList" [data]="imagesResult"></app-tab>
    <app-tab *ngIf="videosResult && videosResult.length > 0" tabTitle="Videos" [template]="mediaList" [data]="videosResult"></app-tab>
  </app-tabs>
</div>

<ng-template let-media="media" #mediaList>
  <!-- IMAGE AND VIDEO LIST -->
  <app-media-list [mediaList]="media" (getMoreItems)="appendItems()"></app-media-list>
</ng-template>