
<ng-container *ngIf="mediaList && mediaList.length > 0">
  <div class="row m-3"
    infinite-scroll
    [infiniteScrollDistance]="mediaScrollDistance"
    [infiniteScrollThrottle]="mediaScrollThrottle"
    (scrolled)="onMediaScrollDown($event)"
    >
    <ng-container *ngFor="let media of mediaList">
      <div class="col-lg-3 col-md-4 col-xs-6 thumb" *ngIf="media && media.thumbnail && media.thumbnail.url">
        <app-media-card  [media]="media"></app-media-card>
      </div>
    </ng-container>
  </div>
</ng-container>
